---
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Results summary</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700;800&display=swap");
    </style>
  </head>
  <body class="bg-my-blue-100">
    <slot />
  </body>
</html>
